/* Feuille de styles CSS */

/*---------- basic color ----------

violet 			#7451eb
vert-menthe 	#00eda2
bleu ocean 		#003668
gris de fond	#2a2a2e

------------------------------------*/

/*------------- fonts --------------------*/

@font-face {
	font-family: 'montserrat';
	src: url('fonts/Montserrat/Montserrat-Regular.ttf');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('fonts/Montserrat/Montserrat-Italic.ttf');
	font-weight: normal;
    font-style: italic;
}

@font-face {
	font-family: 'montserrat';
	src: url('fonts/Montserrat/Montserrat-Bold.ttf');
	font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('fonts/Montserrat/Montserrat-Light.ttf');
	font-weight: 200;
    font-style: normal;
}

@font-face {
	font-family: 'montserrat';
	src: url('fonts/Montserrat/Montserrat-Thin.ttf');
	font-weight: 100;
    font-style: normal;
}


/*---------------- police default style ----------------*/

h1, h2, h3, h4, a, p, ul, li {
	font-family: montserrat, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1em;
}

.title_big_text {
	font-weight: bold;
	color: white;
	font-size: 2.3em;
	margin: 0px 0px 0px 0px;
}

.title_medium_text{
	color: white;
	font-size: 1.5em;
}

.txt_fond_vert {
	background-color: #00eda2;
	padding: 2px 5px 2px 8px;
}

.no_margin {
	margin: 0px 0px 0px 0px;
}

.no_padding {
	padding: 0px 0px 0px 0px;
}

.blue_ocean {
	color: #003668;
}

/*---------------------------HTML page ---------------------------*/
/*----global alignment-----*/
body {
	background-color: #2a2a2e;
	width: 1100px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.padding_global_left_right {       	
	padding: 0px 80px 0px 80px;
}

.padding_global_top {				
	padding-top: 75px;
}

.padding_inter_top {
	padding-top:  50px;
}

.padding_global_bott{
	padding-bottom: 75px;
}

.padding_inter_bott{
	padding-bottom:  50px;
}

/*----END global alignment-----*/

 

#presentation {
	background-color: #7451eb;
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	width: auto;

	/*padding: 75px 20px 0px 80px;*/
}

#presentation_text {
	display: flex;
	flex-direction: column;
	width: 500px;
}

#presentation h2 {
	font-weight: bold;
	color: #003668;
	font-size: 1.4em;
	text-align: center;
	width: 225px;
}

#presentation_specif, #presentation_bonjour {
	font-size : 1.3em;
	color: white;
}

#presentation_specif {
	margin: 10px 0px 0px 0px;
}


#presentation_bonjour {
	margin: 50px 0px 0px 0px;
}

.lienmail {
	color: white;
}


#presentation img {
	border-radius: 10em 10em 0em 0em;
	width: 262px;
	height: 350px;
	margin-left: 75px;
}

.lienprofil {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.content_row {
	background-color: white;
	width: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0px 0px 0px 0px;
}

#img_competences {
	height: 200px;
	width: 200px;
}

.text_pro {							/*--------- texte du contenu pro -----------*/
	margin: 0px 0px 0px 25px;
}

.titre_contenu_pro{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-weight: bold;
	color: #003668;
	font-size: 1.4em;
}

.text_pro ul, .text_pro p {
	margin: 5px 0px 5px 0px;
	text-align: justify;
	color: #003668;
	font-size: 0.75em;
}




footer {
	background-color: #003668;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	padding-top: ;

	
}

#footer_content {
	display: flex;
	flex-direction: column;
	padding: 75px 75px 50px 125px;
}


#social_network{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.bloc_res_soc {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 180px;
	margin: 50px 0px 10px 0px;
}

.social_network_link {
	background-color: #0277bd;
	width: 75px;
	height: 75px;
}

#copyright {
	display: none;
	text-align: right;
	font-size: 0.6em;
	color: white;
}

@media all and (max-width : 1100px) {
	body {
		width: auto;
		min-width: 350px;
	}
}

@media all and (max-width : 690px) {
	.padding_global_left_right {       	
		padding: 0px 30px 0px 30px;
	}

	.padding_global_top {				
		padding-top: 20px;
	}

	.padding_inter_top {
		padding-top:  30px;
	}

	.padding_global_bott{
		padding-bottom: 30px;
	}

	.padding_inter_bott{
		padding-bottom:  30px;
	}

	#presentation {
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-content: flex-start;
		padding-bottom: 20px;
	}

	#presentation img{
		margin: 20px 0px 0px 0px;
		align-self: center;
		border-radius: 10em 10em 10em 10em;
	}

	#presentation_text {
		width: auto;
	}

	#presentation_bonjour {
		font-size: 1em;
		text-align: justify;
	}

	#competences{
		padding: 25px 25px 25px 25px;
	}

	#img_competences {
		display: none;
	}

	footer h1{
		font-size: 1em;
	}
}

@media all and (max-width : 600px) {
	#presentation img{
		width: 187px;
		height: 250px;
		margin: 20px 0px 0px 0px;
	}
}

